{% extends "layout.html" %}

{% block body %}

<title>Upload File</title>
<h1 class="text-center">Word Could</h1>
<br>

<div class="container">
    <div class="row">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-6 mb-3 text-center">
        <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>Please Select a picture</p>
                {{ form.photo }}
                 <br><br><br>
                <p>Please Select a doc</p>
                {{ form.doc }}
                {% for error in form.photo.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}<br><br><br>
                {{ form.submit(class="btn btn-dark") }}
        </form>
    </div>
{% if photo_url %}
    <div class="col-md-6">
        <div class="card" style="width: 24rem;">
        <img class="card-img-top" src="{{ photo_url }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">...</p>
            </div>
        </div>
    </div>
{% endif %}
    </div>
</div>

{% endblock %}