{% extends "layout.html" %}

{% block body %}

<title>Upload File</title>
<h1 class="text-center">File Upload</h1>
<form method="POST" enctype="multipart/form-data">
    <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-3 text-center">
            {{ form.hidden_tag() }}
            {{ form.photo(multiple="multiple") }}
             
            {% for error in form.photo.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{ form.submit(class="btn btn-dark") }}
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
</form>

{% if file_url %}
<br>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="{{ file_url }}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">...</p>
    </div>
</div>
<!-- <img src="{{ file_url }}"> -->
{% endif %}

{% endblock %}